@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1E1E1E;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

@layer base {
  :root {
    --background: 0 0% 12%;
    --foreground: 0 0% 98%;
    --card: 0 0% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 210 79% 59%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 23%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 23%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 210 79% 59%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 23%;
    --input: 0 0% 23%;
    --ring: 210 79% 59%;
    --radius: 0.125rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}